[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
bumpversion = "*"
psutil = "*"
apscheduler = "<4"
pyyaml = "*"
mergedeep = "*"
dotmap = "*"
loguru = "*"
robotframework = "*"
tabulate = "*"

[dev-packages]
black = "*"
flit = "*"
pip = "*"
ipython = "*"
ipdb = "*"
pytest = "*"
schema = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.6"

[pipenv]
allow_prereleases = true
